:root {
    --header-font: 'Montserrat', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    background-image: url(download.jpg);
    background-repeat: no-repeat;
   object-fit: contain;
   background-size: cover;
    width: 100%;
    background-image: url("https://nikaelisashvili.github.io/Finaluri/images/header.jpg");
    height: 754px;
     

  }

  #home {
    margin-left: 270px;
  }
  
  .nav, #button1 {
    position: relative;
    top: 40px;
  }
  
  .nav {
    font-weight: 700;
    margin-left: 27px;
  }
  
  .nav:hover {
    color: red;
    transition: 1s linear;
  }

  nav{
    display: block;
    
  }
  
  a {
    text-decoration:none ;
    color: black;
    font-size: 14px;
  }

  button {
    width: 80px;
    height: 40px;
    left: 50%;
 background-color: red;
  
  color: white;
  border-radius: 8px;
  }

  #header1{
    font-size: 60px;
margin-top: 220px; 
padding-left: 180px;
}

p {
    width: 700px;
    padding-left: 180px;
    font-size: 18px;
    line-height: 30px;
}

main {
    width: 100%;
    height: 100%;
    
}

main .first {
    width: 100%;
    height: 600px;
    
}

h1 {
 
   justify-content: center;
   font-size: 35px;
 
   }

p {
width: 700px;
}


.first .cards {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding-left: 80px;
    
     
}

#header2 {
  text-align: center;
  padding-top: 0%;
}
 
#header3 {
  padding-left: 380px; 
width: 700px;
 }

 .card {
  text-align: 160px;
  padding-left: -40px;
height: 20px;
 }
  
 .card1 p {
width: 300px;
padding-left: 0px;
 }


.card2 p {
  width:300px ;
  padding-left: 0px;
}

.card3 p {
  width: 300px;
  padding-left: 0%;
}

.card4 p {
  width: 300px;
padding-left: 0%;
}

.card5 p {
  width: 300px;
 padding-left: 0%;
}
 
.card6 p {
  width: 300px;
 padding-left: 0%;
}

  

.ipsum1 { 
  text-align: center;
  margin-top: 15%;
  font-size: 64px;
  font-weight: 700px;
  padding-right: 45%;
}
 

.pclass {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px
 
}



.jpg {
left: 890px;
margin-top: -20%;
position: relative
;
}

#mainbutton2 {
  position: relative;
  left: -360px;
  bottom: 30px;
}



.button {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  background-color: #F84646;
  color: white;
  border-color: #F84646;
}

.icon1 {
  padding-left: 70px;
} 

.main2 {
margin-top: -20%;
padding-left: 10%;

}

.ipsum2 {
  position: relative;
  bottom: -40px;
  left: 900px;
  font-size: 60px;
}

.pclass2 {
  position: relative;
  left: 680px;
  bottom: -40px;
}

#mainclass2 {

  font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
    max-width: 523px
}

.footer {
  padding: 50px;
    font-size: 16px;
    color: #E6E6E6;
    font-family: "Inter";
    background-color: #F8464A;
    width: 100%;
    height: 100%; 
}

.ve {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.h1 {
  padding-top: 0%;
 font-size: 19px;
 padding-left: 35px; 
 color: white;
 margin-top: 10%
}


footer {
background-color: #F8464A;

padding-top: 0%
} 


.footer1 a {
  line-height: 70px;
  color: white;
  font-size: 17px;
}

 
.h2 {
font-size: 19px;
padding-left: 30%;

}

footer span {
  line-height: 50px;
  color: #E6E6E6;
}

ul {
  position: relative;
  right: 40px;
  list-style: none;
  font-size: 16px;
  line-height: 64px;

}

footer a {
  color:#E6E6E6;
}

footer div {
  display: inline-block;
}

footer div:nth-child(2) {
  position: relative;
  bottom: 60px;
}


footer div:nth-child(3) {
  position: relative;
  bottom: 120px;
}

footer div:nth-child(4) {
  position: relative;
  bottom: 180px;
}  


  